{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
    <header class="site-header">

        <section class="site-banner">

            <nav>
                <ul>
                    {% if request.user.apartment.exists %}
                        <li><a href="{% url 'document-add' %}">Add Document</a></li>
                    {% endif %}

                </ul>
            </nav>
        </section>
    </header>
    <section class="all_documents">
        {% for document in page_obj %}
            <div class="documents">
            <div class="document-details">
            <h3>{{ document.document_type }}</h3>
                <ul>
                    <li>
                        <h4>{{ document }}</h4>
                        <a href="{{ document.file.url }}" target="_blank" class="btn-documents">Open document</a>
                    </li>
                </ul>
                <p>Publish at {{ document.upload_date|date:"d-m-Y" }}</p>
                <p>From {{ document.uploaded_by.get_full_name }}</p>
{#                {% if request.user == document.uploaded_by or request.user.is_superuser %}#}
                <a href="{% url 'document-edit' document.pk %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'document-delete' document.pk %}"><i class="fas fa-trash"></i></a>
{#            {% endif %}#}
            </div>
            </div>
        {% endfor %}
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}