{% extends 'base.html' %}

{% block content %}

    <div class="contacts-list">
            
            <div class="home-book">
                
                <form class="form-container" method="post">
                    <h3>Edit announcement</h3>
                {% csrf_token %}
                {{ form.title.label }}
                {{ form.title }}
                {{ form.content.label }}
                {{ form.content }}
                {{ form.category.label }}
                {{ form.category }}
                <button class="button">Save</button>
            </form>
            </div>
        
    </div>
    
{% endblock %}