{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
    <h2>Change Password</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ user_form }}
                {{ form }}

            <button type="submit">Save Password</button>
            <p>If you don't want to change your password, please return back to details</p>
        </form>
        <a href="{% url 'profile-details' pk=request.user.profile.pk %}">
            <button class="cancel-button">Cancel</button>
        </a>
    </div>
{% endblock %}