{% extends 'base.html' %}

{% block content %}
    
    <section class="your-mind">
        <div class="text">
            <h3 style="padding-left: 3em">RULES OF INTERNAL ORDER IN "Apollonia Beach"</h3>
            <p>1.These regulations regulate the internal order of Apolonia Beach Complex - Kavatsite, Sozopol.</p>
            <p>
                2. Every occupant shall be obliged to use the premises according to 
                their purpose to prevent actions being taken that could expose the 
                building to a fire hazard or to cause significant damage and not to 
                cause anxiety to other occupants.
            </p>
            <p>3. The use of the lift by children without escort is forbidden.</p>
            <p>4. It is forbidden to use the pool from 22.00 to 08.30 hours for safety reasons as well as the treatment of water with chemicals.</p>
            <p>5. It is forbidden to use the pool after drinking alcohol.</p>
            <p>6. It is forbidden to use the pool by children without parental supervision.</p>
            <p>7. Jumping into the pool is forbidden.</p>
            <p>8. It is forbidden to use the pool in the hours of rest from 14 to 16 hours.</p>
            <p>9. It is forbidden to use glass cups, bottles or other sharp and / or dangerous objects in the pool area, as well as to bring and consume food and drinks in the water.</p>
            <p>10. Please use the shower before each entry into the pool. It is forbidden to pollute the water in the pool in any way.</p>
            <p>11. Large inflatable products that do not interfere with the peaceful use of the pool by all users are not allowed in the pool.</p>
            <p>12. No talk and entertainment that interrupts the rest of the rest of the occupants during rest time - from 14 to 16 hours and from 22 to 8 hours.</p>
            <p>13. Residents shall be obliged not to permit their children or persons temporarily residing in their homes to act in violation of established internal rules or resulting in damage. In case of established damages, breaks or missing the culprit (or his / her legal representative) he / she shall pay a fine of 150% of the cost of the damaged item.</p>
            <p>14. It is forbidden to dispose of wet wipes, wares, building materials, wastes, petroleum products, etc. in the sewage system. If the cause of clogging or damage to the sewer is detected, the costs of recovering it are entirely at his expense.</p>
            <p>15. Freely released pets are not allowed, and cleaning after them is mandatory!</p>
        </div>
    </section>

{% endblock %}