@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px/1.5 Karla;
}

*, ::before, ::after {
    font: inherit;
}

/*body {*/
/*    background: url(../images/apolonia_common_view.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    background-position: top center;*/
/*}*/

.background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Infant";
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

.site-container {
    max-width: 1100px;
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 5em;
}

.site-header nav ul {
    display: flex;
}

.site-header ul li {
    display: block;
    padding: 0 1em;
}

.site-header ul li a {
    text-decoration: none;
    color: #fff;
}

.site-section .site-banner .site-container {
    color: #fff;
}

.site-title-logo a{
    display: block;
    width: 100px;
    height: 100px;
    text-indent: -300vw;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.site-section.site-banner {
    text-align: center;
    padding-bottom: 10em;
    width: 100%;
    height: 100%;
}

.site-section.site-banner h1 {
    padding-bottom: 1.4em;
}

.site-section.site-banner p {
    max-width: 60ch;
    margin: 0 auto;
}

.site-section.main-contain {
    background-color: #F8F0E9;
    padding: 1.5em 0;
}

.site-section.main-contain h2 {
    font-style: italic;
    line-height: 0.8;
    max-width: 30ch;
    padding: 1em 0;
    margin: 0 auto;
}

.site-section.main-contain p {
    padding-left: 6em;
}

.site-section.support {
    background-color: #E14747;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

.site-section.support p:first-child {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 1em;
}

.site-section.your-mind {
    background-color: #F8F0E9;
}

.site-container.your-mind-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-block: 2em 3.5em;
    max-width: 600px;
}

.your-mind-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-mind-content .text h3 {
    text-align: center;
    max-width: 15ch;
    line-height: 1;
}

.your-mind-content .text p {
    padding: 2em;
}

.your-mind-content a {
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 0.2em;
    padding: 0.3em 0.6em;
    font-size: 16px;
}

.your-mind-content .button-first {
    align-self: flex-start;
    margin-left: 2em;
}

.site-section.find-guide {
    background-color: #E14747;
}

.site-container.guide {
    color: #fff;
    padding-block: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.site-container.guide h3 {
    font-weight: bold;
}

.site-container.guide p {
    text-align: center;
}

.site-container.guide a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    background-color: #FAD87A;
    border-radius: 60px;
    padding: 0.5em 1em;
    font-weight: 500;
    letter-spacing: -0.1em;
}

footer {
    background-color: #352B2A;
    color: #fff;
    padding: 1.5em 6em;
}

.site-footer-logo {
    padding-bottom: 1em;
}

.site-footer-logo a{
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -300vw;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

footer p {
    font-size: 16px;
    max-width: 55ch;
    padding-top: 1em;
}

footer .last-paragraph {
    color: #61695E;
}





